<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reservationtable">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_application"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.RezerwacjaInfoActivity" />
        <activity android:name=".Activity.StolikiOffActivity" />
        <activity android:name=".Activity.StolikiActivity" />
        <activity android:name=".Activity.HistoriaActivity" />
        <activity android:name=".Activity.SkanerActivity" />
        <activity android:name=".Activity.DaneosoboweActivity" />
        <activity android:name=".Activity.RezerwujActivity" />
        <activity android:name=".Activity.MenuKlientActivity" />
        <activity android:name=".Activity.HistoriaUzytkownikActivity"/>
        <activity android:name=".Activity.WyszukiwanierezerwacjiActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".Activity.MenuRestauracjaActivity" />
        <activity android:name=".Activity.PrzypomnienieHaslaActivity" />
        <activity android:name=".Activity.RejestacjaActivity" />
        <activity android:name=".Activity.LogowanieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>