<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reservationtable">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_application"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RezerwacjaInfo" />
        <activity android:name=".StolikiOff" />
        <activity android:name=".StolikiActivity" />
        <activity android:name=".HistoriaActivity" />
        <activity android:name=".SkanerActivity" />
        <activity android:name=".DaneosoboweActivity" />
        <activity android:name=".RezerwujActivity" />
        <activity android:name=".MenuklientActivity" />
        <activity android:name=".HistoriaUserActivity"/>
        <activity android:name=".WyszukiwanierezerwacjiActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".MenurestauracjaActivity" />
        <activity android:name=".PrzypomnieniehaslaActivity" />
        <activity android:name=".RejestacjaActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>